*{
	box-sizing: border-box
}
#main{
	width: 100%;
	margin: 0 auto;
	border: 10px solid red
}
#header{
	height: 300px;
	border-bottom: 10px solid red
}
#leftsidebar{
	width: 20%;
	float: left;
	border-right: 5px solid red
}
#rightsidebar{
	width: 20%;
	float: right;
	border-left: 5px solid red
}
#content{
	width: 60%;
	float: center
}
#footer{
	height: 50px;
	wigth: 100%;
	clear: both;
	border-top: 5px solid red;
	height: 40px
}
